<div class="container mt-5 mb-5">
  <img src="" width="100%" />

  <h1 class="text-center">About</h1>
  <p class="text-center">
    The My Kitchen was born out of love and respect for these humble deli
    creations, met with a desire to bring quality ingredients to the table.
    <br>
    <br>
    Simply put, we’re here to bring you a foodexperience you can feel good
    about.
    <br />
    <br>
    Although we are a new organization, we have grown considerably in a short
    time. We are proud of the work we do
    <br />
    <br>
    The feedback we receive from our customers proves how good we are in this
    business.
    <br>
  </p>
</div>
